<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h3>London, UK</h3></div>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Day</th>
              <th>Weather</th>
              <th>Temperature &#8451;</th>
              <th>precipitation</th>
              <th>Humidity</th>
              <th>Wind</th>
            </tr>
          </thead>
          <tbody>
            {{#each model as |forecast|}}
            <tr>
              <td>{{forecast.dayofweek}}</td>
              <td>{{forecast.weather}}</td>
              <td>{{forecast.temp}}</td>
              <td>{{forecast.precipitation}}</td>
              <td>{{forecast.humidity}}</td>
              <td>{{forecast.wind}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
